<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %-5p %c - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="me.yanaga" level="DEBUG"/>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
